html, body {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 16px;       
}

body {
	background-color: #F8F8F8;  
	color: #2a2b2e;
	box-sizing: border-box; 
	/* font-style: verdana; */
	font-family: 'Oxygen', sans-serif;
}  
a {  
	color: #2a2b2e;
	text-decoration: none; 
	cursor: pointer;   
}
a:hover {
	color: #6CB97E;  
 
}

a:visited{
	color: #2a2b2e;
} 

h1 { 
	font-weight: bold;
	font-size: 2rem;       
	color: #6CB97E;  
	margin: 30px auto;               
}


.header {
	text-align: center;   
	margin: 0 auto;    
}
.nav {
	margin: 0 auto; 
	text-align: center;     
}  

.nav-list {
	text-decoration: none; 
	list-style-type: none; 
	padding: 0 0 0 0;
	margin: 0 0 0 0;       
	display: flex;
	justify-content: space-between;     
	flex-wrap: wrap;
      
}
.nav-list a{   
	margin: 0 10px;   
	text-transform: uppercase;
	font-weight:  bold;         
}  
.nav-list > ul {
	list-style-type: none; 
	padding: 0 0 0 0;  
}     
 
/* USTAWIENIA OGÓLNE MENU */
div[id^="div-"] {
	margin: 0 auto; 
	background-color:#F8F8F8;
	min-height: 400px;     
	width: auto;          
	padding: 10px 10px;  
	border-radius: 10px; 
	box-shadow: 0px 3px 4px 4px     #76797e41;             
	text-align: left;     
	margin: 20px 10px 0;           
	z-index: 3;    
	font-size: .8rem;  
	/* display:   none;                            */
	visibility: hidden;                       
}   
div[id^="div-"] { 
	display: flex;  
	justify-content: space-between;     
	flex-wrap: wrap;        
}     

div[id^="divv"] ul {
	list-style-type: none; 
	padding: 3px 0 3px 0;      
}  
div[id^="divv"] ul > li{
	list-style-type: none; 
	margin: 0 0 10px;            
	font-weight: bold;   
}

div[id^="divv"] > ul a:hover {
	color: #34d459;                  
} 

.baner {
	/* background: url("img/b.png"); */
	width: auto;
	height: 100px;  
	margin: 80px auto auto 150px;                          
}

/* MENU PSY */
#divv-psy-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-psy-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.psy-polecane {
	width: 200px;   
	display: flex;            
} 
div[id^="divv-psy-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;                     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-psy-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-psy-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-psy-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-psy-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU KOTY */
#divv-koty-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-koty-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.koty-polecane {
	width: 200px;     
} 
div[id^="divv-koty-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-koty-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-koty-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-koty-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-koty-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU GRYZONIE */
#divv-gryzonie-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-gryzonie-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.gryzonie-polecane {
	width: 200px;     
} 
div[id^="divv-gryzonie-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-gryzonie-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-gryzonie-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-gryzonie-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-gryzonie-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU PTAKI */
#divv-ptaki-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-ptaki-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.ptaki-polecane {
	width: 200px;     
} 
div[id^="divv-ptaki-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-ptaki-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-ptaki-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-ptaki-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-ptaki-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU AKW */
#divv-akwarystyka-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-akwarystyka-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.akwarystyka-polecane {
	width: 200px;     
} 
div[id^="divv-akwarystyka-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-akwarystyka-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-akwarystyka-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-akwarystyka-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-akwarystyka-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
} 

/* MENU KOTY */
#divv-gady-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-gady-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.gady-polecane {
	width: 200px;     
} 
div[id^="divv-gady-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-gady-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-gady-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-gady-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-gady-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU KONIE */
#divv-konie-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-konie-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.konie-polecane {
	width: 200px;     
} 
div[id^="divv-konie-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-konie-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-konie-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-konie-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-konie-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU ZW*/
#divv-zwierzeta-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-zwierzeta-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.zwierzeta-polecane {
	width: 200px;     
} 
div[id^="divv-zwierzeta-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-zwierzeta-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-zwierzeta-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-zwierzeta-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-zwierzeta-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}   

/* MENU DOM */
#divv-dom-kategorie {
	border-right: #2a2b2e25 1px solid;
	padding: 0 10px 0 0;        
}
div[id^="divv-dom-podkategorie-polecane"] {
	margin: 0 auto;        
}  
.dom-polecane {
	width: 200px;     
} 
div[id^="divv-dom-podkategorie"] {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;     
	display: none;    
	padding: 0 auto;      
}   
div[id^="divv-dom-podkategorie"] ul > li{
	list-style-type: none; 
	font-weight: normal;  
	padding: 0 0 0 8px;   
	margin: 1px 0 0 0; 
	font-size: .6rem;      
}     
div[id^="divv-dom-podkategorie"] ul > li:first-child {
	font-weight: bold;   
	margin: 0 0 10px 0;  
	padding: 0 0 0 0;  
}      
div[id^="divv-dom-podkategorie"] ul > li a:hover {
	color: #34d459;         
}  
#divv-dom-polecane {
	text-align: center;    
	min-width: 150px;   
	border-left: #2a2b2e25 1px solid;       
}     


/* Repozycja menu */
#div-koty {
	position: relative; 
	top: -460px;                
}
#div-gryzonie {
	position: relative; 
	top: -917px;                            
}
#div-ptaki {
	position: relative; 
	top: -1360px;          
}
#div-akwarystyka {
	position: relative; 
	top: -1800px;                     
}
#div-gady {
	position: relative; 
	top: -2240px;         
}
#div-konie {
	position: relative; 
	top: -2680px;         
}
#div-zwierzeta {
	position: relative; 
	top: -3120px;         
}

#div-dom {
	position: relative; 
	top: -3560px;         
}   





/* RESPONSYWNOŚĆ */
@media only screen and (max-width: 1930px) {
	.header, .nav, .main, .footer {
		width: 50%;
	}
}  

@media only screen and (max-width: 1400px) {
	.header, .nav, .main, .footer {
		width: 70%;
	}
}

@media only screen and (max-width: 950px) {
	.header, .nav, .main, .footer {
		width: 85%;
	}
	#divv-psy-polecane, #divv-psy-kategorie,
	#divv-koty-polecane, #divv-koty-kategorie, #divv-gryzonie-polecane, #divv-gryzonie-kategorie
	, #divv-koty-polecane, #divv-koty-kategorie
	, #divv-ptaki-polecane, #divv-ptaki-kategorie
	, #divv-akwarystyka-polecane, #divv-akwarystyka-kategorie
	, #divv-gady-polecane, #divv-gady-kategorie
	, #divv-zwierzeta-polecane, #divv-zwierzeta-kategorie
	, #divv-dom-polecane, #divv-dom-kategorie {
		border: none;                
	}     
}

@media only screen and (max-width: 500px) {
	.header, .nav, .main, .footer {
		width: 97%;   
	}
	#divv-psy-polecane, #divv-psy-kategorie,
	#divv-koty-polecane, #divv-koty-kategorie, #divv-gryzonie-polecane, #divv-gryzonie-kategorie
	, #divv-koty-polecane, #divv-koty-kategorie
	, #divv-ptaki-polecane, #divv-ptaki-kategorie
	, #divv-akwarystyka-polecane, #divv-akwarystyka-kategorie
	, #divv-gady-polecane, #divv-gady-kategorie
	, #divv-zwierzeta-polecane, #divv-zwierzeta-kategorie
	, #divv-dom-polecane, #divv-dom-kategorie  {
		border: none;                  
	}           
}    